table {
	font-size:12px;
	font-family:  trebuchet MS,Helvetica, sans-serif;
	
	
	}

a:link.stuff, a:visited.stuff {color: #8E8C74;
padding: 3px 0;
text-decoration:none;}
a:hover.stuff, a:active.stuff {color: #716844;
border-top: 1px solid #ACACA2;
border-bottom: 1px solid #ACACA2;
padding: 2px 0;
text-decoration:none;}

body {margin: 0; padding: 0;
		background: #CCCCBB url("background.gif");
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: fixed;
		font-size:12px;
		font-weight: bold;
	font-family:  trebuchet MS,Helvetica, sans-serif;}
		
.border {border: 1px solid #8E8E87;}	


P {font-size:12px;
	font-family:  trebuchet MS,Helvetica, sans-serif;
	
        }
.bold {font-family: trebuchet MS, times new roman, times, arial, helvetica, sans-serif; 
        font-size: 12px;        
        text-indent: 0em;
        color: 333333;
		font-weight: bold
        }		
.list {font-family: trebuchet MS, helvetica, sans-serif;
        font-size: 12px;
		
		line-height: 150%;
       text-align: left;
		color: #333333;
       }
P.nav {font-family: trebuchet MS, helvetica, sans-serif;
        font-size: 12px;
		letter-spacing: 2px;
        text-indent: 0em;
        text-align: center;
		font-weight: bold
       }

--></STYLE>