vti_encoding:SR|utf8-nl
<%escapeurl vpath%>:_derived/search.htm0.htx
/rjckb/:main.asp
javascript\::booklist.asp
search.htm0.htx:_derived/search.htm0.htx
_vti_bin/search.htm0.idq:_derived/search.htm0.htx
