vti_encoding:SR|utf8-nl
vti_sourcecontrolcookie:SX|C:\\Program Files\\Microsoft Visual Studio\\Common\\VSS\\srcsafe.ini
vti_sourcecontrolversion:SX|V1
vti_extenderversion:SR|3.0.2.1706
vti_timelastmodified:TR|23 Feb 1999 03:33:33 -0000
